{% extends 'base.html.twig' %}

{% block title %}Comunidad{% endblock %}

{% block body %}
    <h1>Comunidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comunidad.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ comunidad.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ comunidad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comunidad_index') }}">back to list</a>

    <a href="{{ path('app_comunidad_edit', {'id': comunidad.id}) }}">edit</a>

    {{ include('comunidad/_delete_form.html.twig') }}
{% endblock %}
